body{
    margin: 0;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 24px;
    background-color: rgba(228, 228, 228, 0.2);
    font-family: Roboto, Arial;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}